<h2>Plant Calendar</h2>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let plant"> {{plant.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let plant"> {{plant.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="planted">
    <th mat-header-cell *matHeaderCellDef> Date Planted </th>
    <td mat-cell *matCellDef="let plant"> {{plant.planted}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="toMaturity">
    <th mat-header-cell *matHeaderCellDef> Days To Maturity </th>
    <td mat-cell *matCellDef="let plant"> {{plant.toMaturity}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


