@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
*{color:#333A33;
  font-family: 'Forum', cursive;

}

table {
  margin-right: 20%;
  margin-left:20%;
  width: 60%;
  text-align: center;
  background-color: #f5f4ee;
  font-weight: 580;

  th {
font-size: 20px;
text-align: center;
color: #333A33;
font-weight: 600;
  }
  td {
    color: #465a46;
    font-size: 18px;
  }
}
h2{
text-align: center;
color: #333A33;
font-size: 26px;
padding-top: 8px;
}


