<div class="new-plant-form">
  <img src="https://i.postimg.cc/D0LydKnv/addnew.png" />

  <form #plantForm="ngForm" class="plantForm" (ngSubmit)="addPlant(plantForm.value)">

    <input type="hidden" id="id" [(ngModel)]="id" name="id" />

    <label for="name"> Name: </label>
    <input id="name" [(ngModel)]="name" name="name" />

    <label for="type"> Type: </label>
    <input id="type" [(ngModel)]="type" name="type" />

    <label for="imageUrl"> URL: </label>
    <input id="imageUrl" [(ngModel)]="imageUrl" name="imageUrl" />

    <label for="date">Date Planted: </label>
    <input
      id="date"
      type="text"
      [(ngModel)]="date"
      name="date"
    />

    <label for="daystomaturity">Days to Maturity: </label>
    <input
      id="daystomaturity"
      [(ngModel)]="daystomaturity"
      name="daystomaturity"
    />

    <label for="description">Description: </label>
    <textarea
      id="description"
      [(ngModel)]="description"
      name="description"
    ></textarea>

    <label for="notes">Notes: </label>
    <textarea id="notes" [(ngModel)]="notes" name="notes"></textarea>

    <label for="spacing">Required Spacing: </label>
    <input id="spacing" [(ngModel)]="spacing" name="spacing" />

    <div id="button">
      <input type="submit" id="submit" value="Add Plant"/>
    </div>
  </form>
</div>
<br />
<div class="plants">
  <ul class="plants">
    <li *ngFor="let plant of plants">
      <a routerLink="/detail/{{ plant.id }}">
        <span class="badge"
          >{{ plant.name }} Planted on: {{ plant.date}}</span
        >
      </a>
    </li>
  </ul>
</div>
