<header>
<img src="https://i.postimg.cc/g2RbBKZJ/mygarden.png" alt="">
 <div id="plant-search">
  <app-plant-search></app-plant-search>
  </div>
</header>

<mat-list role="plant list">

  <mat-list>
    <a *ngFor="let plant of plants"
    routerLink='/detail/{{plant.id}}'>
    <mat-list-item>
      <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{plant.name}}</mat-card-title>
        <mat-card-subtitle>{{plant.type}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{plant.imageUrl}}"
        alt="{{plant.name}}"/>

<mat-card-content>
       <p> {{plant.description}} </p>
      </mat-card-content>
    </mat-card>
    </mat-list-item>
</a>
 </mat-list>

