<div id="add-new">
<img src="https://i.postimg.cc/D0LydKnv/addnew.png">
<form class="new-plant-form" #plantForm="ngForm" (ngSubmit)="addPlant(plantForm.value)">
  <label for="name"> Name: </label>
  <input id="new-plant" #plantName />


  <label for="type"> Type: </label>
  <input id="type" #plantType />


  <label for="imageUrl"> URL: </label>
  <input id="imageUrl" #plantImageUrl />


  <label for="dateadded">Date Planted: </label>
  <input id="dateadded" type="date" #plantDate />


  <label for="daystomaturity">Days to Maturity: </label>
  <input id="daystomaturity" #plantType />


  <label for="description">Description: </label>
  <textarea id="description" #plantDescription></textarea>


  <label for="notes">Notes: </label>
  <textarea id="notes" #plantNotes></textarea>


  <label for="spacing">Required Spacing: </label>
  <input id="spacing" #plantSpacing />

<div id="button">
  <button
    type="button"
    class="add-button"
    (click)="addPlant(plantName.value); plantName.value = ''">
    Add plant
  </button>
</div>
</form>
</div>
<div id="delete-plant">
<img src="https://i.postimg.cc/Y2f5g9w4/deleteplant.png" alt="">
<div id="list">
  <ul class="plants">
    <li *ngFor="let plant of plants">
      <a routerLink="/detail/{{ plant.id }}">
        <span class="badge">{{ plant.name }}</span><img src="{{plant.imageUrl}}"/>
      </a>

      <button
      class="delete"
      title="delete plant">
        <span class="material-icons" (click)="delete(plant)">delete</span>

      </button>

    </li>
  </ul>
</div>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
