#search-box {
  min-height: 50px;
  background: #fefefd;
;
  }

 input {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px, solid, #333A33;
  padding: 5%;
  margin-top: 8px;
}

label {
font-size: 24px;
color:#333A33;

}
