<body>
  <header>
<img src="https://i.postimg.cc/NjqGcvn8/Planting-Peace3.jpg">
<div id="weather">
  <app-weather-widget-main></app-weather-widget-main>
  </div>
  </header>
<main>


  <div class="plants-menu">
<img src="https://i.postimg.cc/CxFsM5zS/currentplants.jpg"/>

<div *ngIf="selectedPlant">
  <br/>
  <h4>{{selectedPlant.name}}</h4>
<p>{{selectedPlant.description}}</p>
<br/>
</div>

  <div *ngFor="let plant of plants">

<p (click)="onSelect(plant)">
    {{plant.name}}
  </p>
  <a [routerLink]="['/plants', plant.id]">View</a>
  </div>
<a [routerLink]="['/plants']"></a>

</div>



</main>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
</body>
