
#divWeatherMain{
  display: block;
  border-radius: 10px;
  width: 250px;
  height: 325px;
  background: #333A33;
  background: linear-gradient(180deg, #333A33 0%, #515751 75%, #716671 100%);
  color:  #f5f4ee;


}

.weatherWidgetRow{
  display:flex;
  margin:0 auto;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.sun{
  margin-top: 25px;
  color: rgb(246, 254, 4);
  filter: drop-shadow( 1px 1px 10px rgb(246, 254, 4));
}

.moon{
  margin-top: 15px;
  color: rgb(248, 252, 250);
  filter: drop-shadow( 1px 1px 10px rgb(248, 252, 250));
}

.cloudDiv{
  margin-top: -33px;
}

.cloud{
  color: rgb(157, 203, 217);
  filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement{
  from{margin-left: -55px;}
  to{margin-left: 65px;}
}


.weatherWidgetRowOne{

  font-size: 36px;
  margin-top: 15px;
 text-align: center;
}
.weatherWidgetRowTwo{

 margin-top: 15px;
  font-size: 22px;
  text-align: center;
}
.weatherWidgetRowThree{
  text-align: center;
  font-size: 18px;
  margin-top: 12px;

}
.weatherWidgetRowFour{
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
}
.weatherWidgetRowFive{
  text-align: center;
padding-top: 8px;
  font-size: 18px;
}
