
#divWeatherMain{
  display: block;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  background: #333A33;
  background: linear-gradient(180deg, #333A33 0%, #515751 75%, #716671 100%);
  color:  #f5f4ee;


}

.weatherWidgetRow{
  display:flex;
  margin:0 auto;
  width: fit-content;
  justify-content: center;
}

.sun{
  margin-top: 10px;
  color: rgb(246, 254, 4);
  filter: drop-shadow( 1px 1px 10px rgb(246, 254, 4));
}

.moon{
  margin-top: 10px;
  color: rgb(248, 252, 250);
  filter: drop-shadow( 1px 1px 10px rgb(248, 252, 250));
}

.cloudDiv{
  margin-top: -35px;
}

.cloud{
  color: rgb(157, 203, 217);
  filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement{
  from{margin-left: -55px;}
  to{margin-left: 65px;}
}


.weatherWidgetRowOne{
 padding-left: 40%;
  font-size: 32px;
  margin-top: 8px;
  align-self: center;
}
.weatherWidgetRowTwo{
 padding-left: 35%;
 margin-top: 5px;
  font-size: 18px;
}
.weatherWidgetRowThree{
padding-left: 25%;
  font-size: 16px;

}
.weatherWidgetRowFour{
 padding-left: 23%;
  font-size: 25px;
  margin-top: 10px;
}
.weatherWidgetRowFive{
padding-left: 23%;
padding-top: 5px;
  font-size: 18px;
}
